.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search {
    max-width: 260px;
  }
}
.main {
  height: 100%;
  &__container {
    height: 100%;
  }
}
