.product {
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: var(--color-text);

  &__card {
    border-radius: 18px;
    background-color: var(--color-bg-main);
    box-shadow: 18px 18px 36px 0 var(--color-shadow-product-card);
    overflow: hidden;
  }

  &__header {
    position: relative;
  }

  &__preview {
    position: relative;
    overflow: hidden;
    padding-bottom: 165px;
    border-radius: 18px;

    img {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: none;
    }
  }

  &__price-tag {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 13px;
    padding: 2px 12px 2px 15px;
    background-color: var(--color-bg-main);
    border-radius: 120px;
    box-shadow: 0 7px 28px 0 rgba(var(--color-primary-rgb), 0.2);
  }

  &__currency {
    color: var(--color-primary);
  }

  &__price,
  &__currency {
    font-size: 20px;
  }

  &__rating-tag {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 13px;
    transform: translateY(50%);
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 6px 10px;
    background-color: var(--color-bg-main);
    border-radius: 136px;
    box-shadow: 0 6px 24px 0 rgba(var(--color-primary-rgb), 0.2);
    font-size: 12px;
    font-weight: 600;
  }

  &__cart-btn {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 13px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    box-shadow: 0 8.5px 18px 0 rgba(var(--color-primary-rgb), 0.4);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &__body {
    padding: 20px 13px;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
  }

  &__ingredients {
    margin: 0;
    font-size: 14px;
    color: var(--color-text-secondary);
  }
}
