.search {
  position: relative;
  min-width: 260px;
  display: flex;
  align-items: center;
  padding: 16px 18px 16px 44px;
  background-color: var(--color-bg-search);
  border: 1px solid var(--color-border-search);
  border-radius: 10px;
  transition: border-color 0.3s ease;

  &__icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--color-text-search);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: currentColor;
    }
  }

  &_focused {
    border-color: var(--color-primary);
  }
}
