.error-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &__info {
    padding-top: 40px;
    flex: 1 1 auto;
  }
}

.not-found-page {
  padding: 40px 60px;
}

.header {
  &__container {
    display: flex;
    align-items: center;
  }

  &__title {
    flex: 1 1 auto;
  }

  &__link {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: var(--color-primary-hover);
    }

    &:visited {
      color: var(--color-primary);
    }
  }
}
